<div class="row">
  <div class="col-md-12 text-center">
<!--Aqui utlizamos un button group de bootstrap -->
    <div class="btn-group" role="group" aria-label="Basic example">
      <!--Aqui en el routerLink como sabemos le decimos a angular que maneje las rutas-->
      <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['nuevo']">Nuevo</button>
      <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['editar']">Editar</button>
      <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['detalle']">Detalle</button>
    </div>

  </div>


</div>

<router-outlet></router-outlet>
